In [1]:
import pandas as pd

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize


corpus_1 = 'India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west; China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar and Indonesia.'
corpus_2 = 'The Voyager program is an American scientific program that employs two robotic interstellar probes, Voyager I and Voyager II. They were launched in 1977 to take advantage of a favorable alignment of Jupiter and Saturn, to fly near them while collecting data for transmission back to Earth. After launch the decision was taken to send Voyager II near Uranus and Neptune to collect data for transmission back to Earth'
corpus_3 = 'A black hole is a region of spacetime where gravity is so strong that nothing — no particles or even electromagnetic radiation such as light — can escape from it. The theory of general relativity predicts that a sufficiently compact mass can deform spacetime to form a black hole. The boundary of no escape is called the event horizon. Although it has an enormous effect on the fate and circumstances of an object crossing it, it has no locally detectable features according to general relativity. In many ways, a black hole acts like an ideal black body, as it reflects no light. Moreover, quantum field theory in curved spacetime predicts that event horizons emit Hawking radiation, with the same spectrum as a black body of a temperature inversely proportional to its mass. This temperature is of the order of billionths of a kelvin for stellar black holes, making it essentially impossible to observe directly.'
corpus_4 = "Hawking scientific works included a collaboration with Roger Penrose on gravitational singularity theorems in the framework of general relativity, and the theoretical prediction that black holes emit radiation, often called Hawking radiation. Initially, Hawking radiation was controversial. By the late 1970s and following the publication of further research, the discovery was widely accepted as a major breakthrough in theoretical physics. Hawking was the first to set out a theory of cosmology explained by a union of the general theory of relativity and quantum mechanics. He was a vigorous supporter of the many-worlds interpretation of quantum mechanics."

## <b/> Remove Stopwords and Creating Vocab

In [6]:
words = []

for word in word_tokenize(corpus_1):
    if(word.lower() not in stopwords.words('english')) and (len(word) >= 2):
        words.append(word.lower())

vocab = list(set(words))

## <b/> Creating Count Dictionary

In [7]:
word_freq = {}

for word in vocab:
    word_freq[word] = 0

## <b/> Count the Frequency of Words

In [9]:
for word in words:
    word_freq[word] = word_freq[word] + 1

In [10]:
data = []

for key in word_freq.keys():
    data.append([key, word_freq[key]])

In [11]:
data

[['ocean', 2],
 ['area', 1],
 ['east', 1],
 ['republic', 1],
 ['bhutan', 1],
 ['asia', 1],
 ['maldives', 1],
 ['india', 3],
 ['sea', 1],
 ['nepal', 1],
 ['populous', 2],
 ['land', 1],
 ['indian', 2],
 ['democracy', 1],
 ['bengal', 1],
 ['indonesia', 1],
 ['china', 1],
 ['arabian', 1],
 ['borders', 1],
 ['south', 2],
 ['share', 1],
 ['islands', 1],
 ['southeast', 1],
 ['west', 1],
 ['lanka', 1],
 ['seventh-largest', 1],
 ['border', 1],
 ['southwest', 1],
 ['andaman', 1],
 ['maritime', 1],
 ['pakistan', 1],
 ['officially', 1],
 ['world', 1],
 ['bay', 1],
 ['sri', 1],
 ['thailand', 1],
 ['shares', 1],
 ['north', 1],
 ['country', 3],
 ['bangladesh', 1],
 ['vicinity', 1],
 ['nicobar', 1],
 ['second-most', 1],
 ['myanmar', 2],
 ['bounded', 1]]

## <b/> Creating DataFrame for Sorting Values

In [12]:
df = pd.DataFrame(data, columns=['word','freq'])

In [13]:
df.head()

       word  freq
0     ocean     2
1      area     1
2      east     1
3  republic     1
4    bhutan     1

In [15]:
df.sort_values(by='freq', ascending=False).head(3)

       word  freq
7     india     3
38  country     3
0     ocean     2